version: "3.8"

services:

  postgres:
    image: postgres:15
    container_name: bank_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bankdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongodb:
    image: mongo:7
    container_name: bank_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  qdrant:
    image: qdrant/qdrant:latest
    container_name: bank_qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: bank_backend
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - mongodb
      - qdrant
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/bankdb
      QDRANT_HOST: qdrant
      QDRANT_PORT: 6333

  frontend:
    build:
      context: ./frontend/unified-ui
      dockerfile: Dockerfile
    container_name: bank_frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  postgres_data:
  mongo_data:
  qdrant_data: